{% extends 'base.html.twig' %}

{% block title %}Welcome on RaspPics{% endblock %}

{% block body %}
    <div class="container px-4 mx-auto pt-24 space-y-8">
        {% if authorizedRasps %}
            <div class="relative">
                <h2 class="text-3xl md:text-5xl font-bold pb-6 word-break text-left">Authorized Rasps</h2>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
                    {% for raspProject in authorizedRasps %}
                        {{ include('_include/pic.html.twig', {
                            link: path('app_single_rasp', { id: raspProject.id }),
                            pic: raspProject.raspPics[0],
                            text: "RaspPic de " ~ raspProject,
                        }) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if ownRasps %}
            <div class="relative">
                <h2 class="text-3xl md:text-5xl font-bold pb-6 word-break text-left">Own Rasps</h2>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
                    {% for raspProject in ownRasps %}
                        {{ include('_include/pic.html.twig', {
                            link: path('app_single_rasp', { id: raspProject.id }),
                            pic: raspProject.raspPics[0],
                            text: "RaspPic de " ~ raspProject,
                        }) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
